<div class='{{class}}'>
    <img src="{{images.small}}" class="img-responsive" />
    <h1>{{designer}}</h1>
    <p class='description'>{{name}}</p>
    <!--<div class='sizes'>Available Sizes : {{#each sizes}}{{name}} {{/each}}</div>-->
    <div class='price'>{{price}}</div>
    <div class='show'></div>
</div>