<div class='{{class}}'>
    <h1>{{name}}</h1>
    <img src="{{images.large}}" /><br>
    <div>Available Sizes : {{#each sizes}}{{name}} {{/each}}</div>
    <div>Price : {{price}}</div>
    <div>Designer: {{designer}}</div>
    <div class='badges'>{{#each badges}}<div class='{{this}}'></div> {{/each}}</div>
</div>