<div class='{{class}}'>
    <img src="{{images.small}}" class="img-responsive" />
    <h1>{{name}}</h1>
    <div class='sizes'>Available Sizes : {{#each sizes}}{{name}} {{/each}}</div>
    <div class='price'>Price : {{price}}</div>
</div>